*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529;
}

html, body, #app {
  width: 100%;
  height: 100%;
}
body{
  #nprogress .peg{
    box-shadow: none;
    display: none;
  }
  #nprogress .spinner-icon{
    border-top-color: #409EFF;
    border-left-color: rgba(0,0,0,0);
  }
  #nprogress .bar{
    background-image: linear-gradient(to right, #41b883, #41b883, #409EFF);
  }
  #nprogress .spinner{
    top: 20px;
  }
}
@import "common";
@import "base-layout.component";
@import "card.component";
@import "plus";
