<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>loading...</title>
  <% if (process.env.NODE_ENV === 'production') { %>
  <link rel="shortcut icon" href="/<assetsPublicPath>/static/favicon.ico" type="image/x-icon"/>
  <% }else { %>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
  <% } %>
  <!------------------------------->
  <% if (process.env.NODE_ENV === 'production') { %>
  <% }else { %>
  <script type="text/javascript">
    window.__static = '/';
  </script>
  <% } %>
</head>
<body>
<div id="app"></div>
</body>
</html>
