@charset "utf-8";
// 基础布局
.row {
  display: flex;
  padding: 0 15px;


}

.el-row {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  .container {
    margin: 15px 15px;
  }
}

.container {
  margin: 15px 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  .container-title {
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ebebeb;

  }

  .container-body {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}


// 全居中
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 垂直居中
.flex-align-items-center {
  display: flex;
  align-items: center;
}

// 左右居中
.flex-justify-content-center {
  display: flex;
  justify-content: center;
}

// 上下排列
.flex-direction-column {
  display: flex;
  flex-direction: column;
}

// 左右排列
.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-justify-content-space-between {
  display: flex;
  justify-content: space-between;
}
